<!--
<form>
    <label for="user">Usuário: </label>
    <input type="text" name="user" [(ngModel)]="user">

    <label for="password">Senha: </label>
    <input type="password" name="password" [(ngModel)]="password">

    <button type="button" (click)="onSubmit()">login</button>
</form>

<ul>
    <li *ngFor="let lancamento of lancamentos">
        {{ lancamento.name }}: {{ lancamento.value }}
        <input type="checkbox" [(ngModel)]="lancamento.selected">
    </li>
</ul>
<button type="button" (click)="calculate()">Calculate</button>
<br>
<br>
<p *ngIf="subtotal > 0">{{ subtotal }}</p>
-->


<router-outlet></router-outlet>